.navbar {
    background: linear-gradient(to bottom,#006dc4,#005191);
    color: white;
    padding: 20px;
    margin-right: 0px;
}

.nav-text {
    text-align: center;
    justify-content: center;
    margin:20px;
}

.navbar .navbar-brand .navbar-logo {
    height: 62px;
    max-height: 62px;
    padding: 0;
}

#pageContainer {
    margin-top: 10px;
    text-align: center;
}

#leftSide {
    padding-top: 15px;
}

#map {
    margin: auto;
    margin-top:30px;
    height: 300px;
    width: 80%;
}