.navbar {
    background: linear-gradient(to bottom,#006dc4,#005191);
    color: white;
padding: 20px;
    margin-right: 0px;
}

.nav-text {
    text-align: center;
    justify-content: center;
    margin:10px 20px;
    font-size: 2vw;
}

.navbar .navbar-brand .navbar-logo {
    height: 62px;
    max-height: 62px;
    padding: 0;
}

#pageContainer {
    margin-top: 10px;
    text-align: center;
}

#leftSide {
    padding-top: 15px;   
}

#map {
    margin: auto;
    margin-top:30px;
    height: 300px;
    width: 80%;
}

#logo{
    margin: 0px 10px;
}

table {
    table-layout: fixed;
    width: 100%;
  }
  
table td {
    width: 33.33%;
    border: none;
}

.select2{
    width: 100% !important;
}

#cardContainer {
    margin-top: 25px;
    text-align: left;
    justify-content: left;
}

#cardContainer > h1 {
    text-align: center;
    color: gray;
    margin-top: 25px;
}

.card-header {
    font-family: Arial, Helvetica, sans-serif !important;
    background-color: #dddbdb !important;
    font-weight: bold;
}
.card-body {
    background-color: #f8f8f8 !important;
}
@media print {
    .print-hide {
        width: 0px;
        height: 0px;
        padding: 0;
        margin: 0;
        display: none;
    }

    table {
        visibility: visible !important;
        display: table !important;
        border: 1.5px solid !important;
        page-break-inside: auto;
    }
    table :nth-child(6n){
        page-break-after: always;
    }
    th td{
        visibility: visible !important;
        display: table !important;
        border: 1.5px solid !important;
    }
 
    .card {
        justify-content: center;
        width: 100% !important;
    }
    #pageContainer {
        width: 100% !important;
    }
    .card-container {
        width: 100% !important;
    }
}



table {
    display: none;
  }
